{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Sudar Equipments</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<a href="https://wa.me/6379187660" target="_blank"
   style="
   position:fixed;
   bottom:20px;
   right:20px;
   background:#25D366;
   color:white;
   padding:15px;
   border-radius:50%;
   font-size:20px;
   text-decoration:none;
   box-shadow:0 0 10px rgba(0,0,0,0.3);
   ">
   💬
</a>
<body>

<!-- NAVBAR -->
<nav style="background:black; padding:15px; text-align:center;">
    <a href="/" style="color:white; margin:15px;">Home</a>
    <a href="/about" style="color:white; margin:15px;">About</a>
    <a href="/products" style="color:white; margin:15px;">Products</a>
    <a href="/services" style="color:white; margin:15px;">Services</a>
    <a href="/contact" style="color:white; margin:15px;">Contact</a>
</nav>

<!-- CONTENT -->
<div>
    {% block content %}
    {% endblock %}
</div>

</body>
</html>

<footer style="
    background:black;
    color:white;
    text-align:center;
    padding:20px;
    margin-top:40px;
">
    <p>© 2026 Sudar Equipments</p>
    <p>Air Compressor Manufacturing | Sales | Service</p>
</footer>